@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin :0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;

}

.nav {
  display: flex;
  justify-content:space-around;
  background-color: #137389;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
a {
  text-decoration: none;
  color: #fff;
}
.nav-cart {
  display: flex ;
  text-decoration: none;
  gap :20px;
}
span {
  font-size: 30px;
}
li{
  list-style-type: none;
}
.header {
display: flex;
justify-content: center;
background-image: url("./assets/pizza_back.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.header-title{
  color: #fff;
}
.card-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  margin-top: 2rem;
}

.home-price {
  text-align: center;
}
.home-button{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card-buttons-detail{
  display: flex;
  justify-content: space-between;
}