
* {
  margin :0;
  padding:0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: #fff;
}
span {
  font-size: 30px;
}
li{
  list-style-type: none;
}
.header {
display: flex;
height: 8rem;
justify-content: center;
background-image: url("./assets/pizza_back.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
-webkit-filter: grayscale(1);
filter: grayscale(.7);
}

.card-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  margin-top: 2rem;
}

